<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>

<section id="{{ 'home-' | append: section.id }}">
    <div class="shopbyskintype-container">
        <div class="shopbyskintype-text-container">
            <div class="shopbyskintype-title">{{ section.settings.title }}</div>
            <div class="shopbyskintype-description">{{ section.settings.description }}</div>
        </div>
        <ul
            class="mb-5 flex list-none flex-col flex-wrap ps-0 md:flex-row"
            id="pills-tab"
            role="tablist"
            data-twe-nav-ref>
                <li role="presentation">
                    <a
                        href="#dry-skin"
                        class="button button--primary button-black pointer-events"
                        id="dry-skin-tab"
                        data-twe-toggle="pill"
                        data-twe-target="#dry-skin"
                        data-twe-nav-active
                        role="tab"
                        aria-controls="dry-skin"
                        aria-selected="true"
                        >Dry Skin</a
                    >
                </li>
                <li role="presentation">
                    <a
                        href="#combo-skin"
                        class="button button--primary button-white pointer-events"
                        id="combo-skin-tab"
                        data-twe-toggle="pill"
                        data-twe-target="#combo-skin"
                        role="tab"
                        aria-controls="combo-skin"
                        aria-selected="false"
                        >Combination Skin</a
                    >
                </li>
                <li role="presentation">
                    <a
                        href="#oily-skin"
                        class="button button--primary button-white pointer-events"
                        id="oily-skin-tab"
                        data-twe-toggle="pill"
                        data-twe-target="#oily-skin"
                        role="tab"
                        aria-controls="oily-skin"
                        aria-selected="false"
                        >Oily Skin</a
                    >
                </li>
                <li role="presentation">
                    <a
                        href="#normal"
                        class="button button--primary button-white pointer-events"
                        id="normal-tab"
                        data-twe-toggle="pill"
                        data-twe-target="#normal"
                        role="tab"
                        aria-controls="normal"
                        aria-selected="false"
                        >Normal</a
                    >
                </li>
                <li role="presentation">
                    <a
                        href="#acne-prone"
                        class="button button--primary button-white pointer-events"
                        id="acne-prone-tab"
                        data-twe-toggle="pill"
                        data-twe-target="#acne-prone"
                        role="tab"
                        aria-controls="acne-prone"
                        aria-selected="false"
                        >Acne Prone</a
                    >
                </li>
        </ul>
        <div class="mb-6">
            <div
                class="opacity-100 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
                id="dry-skin"
                role="tabpanel"
                aria-labelledby="dry-skin-tab"
                data-twe-tab-active>
                {% for product in collection.all_products %}
                    {% if product.tags contains 'dry-skin' %}
                        <p>{{ product.title }}</p>
                    {% endif %}
                {% endfor %}

                <ul class="product-tags">
                    {% for tag in product.tags %}
                        <li><a href="/collections/all/{{ tag | handleize }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>

                {% render 'product-media-gallery', product: product, limit: 4 %}
                {% render 'card-product' %}
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
                id="combo-skin"
                role="tabpanel"
                aria-labelledby="combo-skin-tab">
                Tab 2 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
                id="oily-skin"
                role="tabpanel"
                aria-labelledby="oily-skin-tab">
                Tab 3 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
                id="normal"
                role="tabpanel"
                aria-labelledby="normal-tab">
                Tab 4 disabled
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
                id="acne-prone"
                role="tabpanel"
                aria-labelledby="acne-prone-tab">
                Tab 5 content
            </div>
        </div>
    </div>
</section>
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
    {
      "name": "Shop By Skin Type",
      "tag": "section",
      "class": "shop-by-type",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "placeholder": "Shop By Skin Type"
        },
        {
          "type": "text",
          "label": "Description",
          "id": "description",
          "placeholder": "Enter collection descriptions here to sell items no more than 2-3 lines"
        }
      ],
      "blocks": [],
      "presets": [
        {
          "name": "Shop By Skin Type"
        }
      ]
    }
{% endschema %}
    
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}